/* src/components/Header/Header.css */

.header {
  background-color: #30a5cc;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
    top:0;
    left:0;
width:100%;
  height:100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 30px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 10px;
  transition: color 0.3s;
  font-family: Verdana, sans-serif;
}

.nav-item a:hover {
  color: #27251e; /* Ένα κίτρινο για το hover, τυπικό για οχήματα */
}